/* CELULAR */

@media (min-width: 360px) and (max-width: 564px) {

/* SECTION INICIO01 */

    #inicio01 {
        width: 98vw;
        height: 5vh;
    }

    #inicio01 > h1 {
        font-size: 12px;
        margin: 39px 16px 0 13px;
    }

    #inicio01 > a > img {
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 3vh;
    }

    #inicio01 > a > img:hover {
        width: 105px;
        height: 105px;
        margin-left: 10px;
    }

    #inicio01 > nav {
        margin: 0 20px 0 110px;
    }

    #inicio01 > nav > a {
        font-size: 7px;
        margin-right: 1px;
    }

    #inicio01 > nav > a:hover {
        font-size: 10px;
    }

    /* SECTION INICIO02 */

    #inicio02 > video {
        top: -34vh;
        height: 70px;
        width: 98vw;
    }

    #inicio02 > h1 {
        font-size: 17px;
        top: 37vh;
        left: 10%;
    }

    /* SECTION ARTIGOS & CONFIGURAÇOES GERAIS */

    #artigos {
        width: 98vw;
        padding-top: 50vh;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 20px;
    }

    #introEducaçao, #problemasEducaçao, #soluçoesEducaçao, #introConscientizaçao, #problemasConscientizaçao, #soluçoesConscientizaçao, #introAdaptaçao, #problemasAdaptaçao, #soluçoesAdaptaçao, #introAlerta, #problemasAlerta, #soluçoesAlerta {
        width: 90%;
    } 

    #introEducaçao, #introConscientizaçao, #introAdaptaçao, #introAlerta {
        width: 95%;
    }

    /* SECTION ARTIGO01 */

    #artigo01 > article {
        width: 90%;
    }

    /* SECTION ARTIGO02 */

    #planejamentoEducaçao {
        width: 75vw;
        margin: 0;
    }

    /* SECTION ARTIGO04 */

    #introAdaptaçao {
        width: 98vw;
    }

    #maisAdaptaçao {
        margin: 50px 5px 30px 0;
    }
        
    #maisAdaptaçao > h1 {
        font-size: 17px;
        margin-left: 145px;
    }

    #artigo04 > img {
       height: 400px;
       margin-bottom: 35px;
    }
    #maisAdaptaçao > a > img {
        width: 400px;
        margin-left: 105px;
    }

    #maisAdaptaçao > a > img:hover {
        width: 410px;
    }

    #soluçoesAdaptaçaoVideo > iframe {
        width: 350px;
    }

    #img01Art03 > img {
        width: 93vw;
        height: 400px;
        margin-bottom: 40px;
        margin-right: 8px;
    }

    #artigo04 > img {
        width: 93vw;
        margin-right: 8px;
    }

}

@media (min-width: 564px) and (max-width: 565px) {
    #inicio01 > h1 {
        margin-right: 150px;
    }

    #inicio01 > nav  {
        margin-right: 155px;
    }

    #img01Art03 > img, #artigo04 > img {
        width: 95.5vw;
        margin-right: 14px;
    }

    #maisAdaptaçao {
        margin-right: 100px;
    }

    #soluçoesAlerta {
        margin-bottom: 20px;
    }
    
}

@media (min-width: 565px) and (max-width: 761px) {

    #inicio01 {
        height: 20vh;
    }

    #inicio01 > h1 {
        font-size: 20px;
        margin-right: 30px;
    }

    #inicio01 > nav > a {
        font-size: 14px;
        margin-right: 5px;
    }

    #inicio01 > nav > a:hover {
        font-size: 17px;
    }

    #inicio01 > nav {
        margin-right: -1px;
    }

    #inicio01 > a > img {
        width: 100px;
        height: 100px;
        top: 14vh;
        margin-left: 40px;
    }

    #inicio01 > a > img:hover {
        width: 110px;
        height: 110px;
    }

    #inicio02 > video {
        width: 98vw;
        height: 15vh;
        padding-top: 48vh;
    }

    #inicio02 > h1 {
        font-size: 20px;
        top: 52vh;
    }

    #artigos {
        padding-top: 70vh;
    }

    #introConscientizaçao {
        width: 94vw;
    }

    #img01Art03 > img, #artigo04 > img {
       width: 372px;
       height: 500px;
       margin-right: 181px;
       margin-bottom: 45px;
    }

    #maisAdaptaçao {
        margin-top: 20px;
    }

    #maisAdaptaçao > h1 {
        font-size: 20px;
        margin-right: 10px;
    }

    #maisAdaptaçao > a > img {
        width: 300px;
        height: 200px;
        margin-bottom: 45px;
    }

    #maisAdaptaçao > a > img:hover {
        width: 310px;
        height: 210px;
    }

    #soluçoesAdaptaçaoVideo > iframe {
        width: 500px;
    }

   #problemasAlerta {
    width: 90vw;
   }

   #soluçoesAlerta {
    width: 90vw;
   }

}

@media (min-width: 761px) and (max-width: 762px) {
    #inicio01 > h1 {
        margin-right: 160px;
    }

    #inicio01 > nav {
        margin-right: 140px;
    }

    #img01Art03 > img, #artigo04 > img {
        width: 487px;
        margin-right: 258px;
    }

    #maisAdaptaçao {
        margin-right: 250px;
    }

    #artigo05 {
        height: 100vh;
    }

    #problemasAlerta {
        width: 94vw;
    }

    #soluçoesAlerta {
        width: 90vw;
        height: 160vh;
    }
}

@media (min-width: 761px) and (max-width: 768px) {

    #inicio01 {
        height: 20vh;
    }

    #inicio01 > h1 {
        font-size: 20px;
        margin-right: 140px;
    }

    #inicio01 > nav > a {
        font-size: 14px;
        margin-right: 5px;
    }

    #inicio01 > nav > a:hover {
        font-size: 17px;
    }

    #inicio01 > nav {
        margin-right: 120px;
    }

    #inicio01 > a > img {
        width: 140px;
        height: 140px;
        top: 14vh;
        margin-left: 60px;
    }

    #inicio01 > a > img:hover {
        width: 145px;
        height: 145px;
    }

    #inicio02 > video {
        width: 98vw;
        height: 15vh;
        padding-top: 48vh;
    }

    #inicio02 > h1 {
        font-size: 20px;
        top: 52vh;
    }

    #artigos {
        padding-top: 70vh;
    }

    #img01Art03 > img, #artigo04 > img {
        height: 600px;
        margin-bottom: 40px;
    }

    #maisAdaptaçao > h1 {
        font-size: 30px;
    }

    #maisAdaptaçao {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    #maisAdaptaçao > a > img {
        width: 400px;
    }

    #maisAdaptaçao > a > img:hover {
        width: 410px;
    }

}

/* TABLET */ 

@media (min-width: 768px) and (max-width: 997px) {

    #inicio01 {
        height: 20vh;
    }

    #inicio01 > h1 {
        font-size: 20px;
        margin-right: 140px;
    }

    #inicio01 > nav > a {
        font-size: 14px;
        margin-right: 5px;
    }

    #inicio01 > nav > a:hover {
        font-size: 17px;
    }

    #inicio01 > nav {
        margin-right: 120px;
    }

    #inicio01 > a > img {
        width: 140px;
        height: 140px;
        top: 14vh;
        margin-left: 60px;
    }

    #inicio01 > a > img:hover {
        width: 145px;
        height: 145px;
    }

    #inicio02 > video {
        width: 98vw;
        height: 15vh;
        padding-top: 48vh;
    }

    #inicio02 > h1 {
        font-size: 20px;
        top: 52vh;
    }

    #artigos {
        padding-top: 70vh;
    }

    #img01Art03 > img, #artigo04 > img {
        height: 600px;
        margin-bottom: 40px;
    }

    #maisAdaptaçao > h1 {
        font-size: 30px;
    }

    #maisAdaptaçao {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    #maisAdaptaçao > a > img {
        width: 400px;
    }

    #maisAdaptaçao > a > img:hover {
        width: 410px;
    }

    #img01Art03 > img, #artigo04 > img {
        width: 490px;
        margin-right: 260px;
    }

    #maisAdaptaçao {
        margin-right: 257px;
    }

    #artigo05 {
        height: 100vh;
    }

    #artigo05 {
        height: 100vh;
    }

    #problemasAlerta {
        width: 94vw;
    }

    #soluçoesAlerta {
        width: 90vw;
        height: 160vh;
    }

}

@media (min-width: 997px) and (max-width: 1024px) {

    #inicio01 > h1 {
        font-size: 26px;
        margin-right: 200px;
    }

    #inicio01 > nav {
        margin-right: 220px;
    }

    #img01Art03 > img {
        margin-right: 5px;
        width: 340px;
        height: 1080px;
    }

    #artigo04 > img {
        margin-right: 5px;
        width: 340px;
        height: 665px;
    }

    #maisAdaptaçao {
        margin-right: 190px;
        margin-top: 190px;
        width: 200px;
    }

    #maisAdaptaçao > h1 {
        font-size: 20px;
        margin-left: 100px;
        width: 200px;
    }

    #maisAdaptaçao > img:hover {
        width: 100px;
    }

    #soluçoesAlerta {
        height: 110vh;
    }
}

/* DASKTOP */

@media (min-width: 1024px) and (max-width: 1366px) {

    #inicio01 > h1 {
        font-size: 26px;
        margin: 47px 230px 0 0;
    }

    #inicio01 > nav {
        margin: 0 200px 0 0;
    }

    #inicio01 > nav > a {
        font-size: 16px;
    }

    #inicio01 > nav > a:hover {
        font-size: 20px;
    }

    #inicio02 > video {
       top: -18vh;
       width: 98vw;
       height: 20vh;
    }

    #inicio02 > h1 {
        font-size: 26px;
        top: 56vh;
        left: 27%;
    }

    #artigos {
        padding-top: 80vh;
    }

    #inicio01 > a > img {
        width: 180px;
        height: 180px;
        margin-left: 50px;
        margin-top: 3vh;
    }

    #inicio01 > a > img:hover {
        width: 185px;
        height: 185px;
    }

    #artigo04 > img {
        width: 33vw;
        height: 92vh;
        margin-right: 10px;
    }
    #img01Art03 > img {
        width: 33vw;
        height: 150vh;
    }

    #maisAdaptaçao {
        width: 407px;
        margin: 250px -5px 0 0;
    }

    #maisAdaptaçao > h1 {
        font-size: 23px;
    }

    #maisAdaptaçao > a > img {
        width: 30vw;
        height: 50vh;
    }

    #maisAdaptaçao > h1 {
        width: 220px;
        margin-left: 100px;
    }

    #maisAdaptaçao > a > img:hover {
        width: 31vw;
        height: 51vh;
    }

    #problemasAlerta {
        width: 450px;
        height: 1280px;
    }

    #soluçoesAlerta {
        width: 450px;
        height: 1280px;
    }

}

@media (min-width: 1336px) and (max-width: 1920px) {
    
    * {
        padding: 0px;
        margin: 0px;
    }
    
    /* SECTION INICIO01 */
    
    #inicio01 {
        margin:  1vh 1vw 0 1vw;
        border-radius: 5px;
        padding: 4vh 0 22vh 0;
        background-image: url("imagens/pngtree-golden-particles-green-plant-background-green-nature-image_517521.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        margin-right: 2vw;
    }
    
    #inicio01 > h1 {
        font-size: 40px;
        margin: 14vh 14vw 0 0;
        float: right;
    }
    
    #inicio01 > nav {
        float: right;
        padding-top: 5vw;
        margin-right: 11vw;
    }
    
    #inicio01 > nav > a {
        font-size: 27px;
        margin-right: 15px;
        text-decoration: none;
        color: black;
    }
    
    #inicio01 > nav > a:hover {
        border-bottom: solid rgba(0, 0, 0, 0.849);
        font-size: 30px;
        transition: 0.5s;
    }
    
    #inicio01 > a > img {
        width:300px;
        height:300px;
        border-radius: 100%;
        margin-left: 50px;
        float: left;
        position: absolute;
        filter: blur(1.5px);
        transition: 1s;
    }
    
    #inicio01 > a > img:hover {
        width: 310px;
        height: 310px;
        transition: 1s;
        filter: blur(0);
    }
    
    /* SECTION INICIO02 */
    
    #inicio02 > video {
        width: 97vw;
        object-fit: fill;
        height: 210px;
        padding: 80vh 0 0 1vw;
        border-radius: 5px;
        position: absolute;
    }
    
    #inicio02 > h1 {
        position: absolute;
        top: 78vh; 
        left: 18%; 
        color: white; 
        z-index: 1; 
        font-size: 50px;
        font-family: "Freehand", cursive;
        font-weight: 400;
        font-style: normal;
        text-shadow: 10px 10px 10px black; 
    }
    
    /* SECTION ARTIGOS & CONFIGURAÇOES GERAIS */
    
    h1 {
        font-size: 47px;
    }
    
    p {
        font-size: 21px;
        letter-spacing: 1px;
    }
    
    h2 {
        font-size: 44px;
    }
    
    h3 {
        font-size: 27px;
    }
    
    #artigos {
        padding-top: 104vh;
        margin: 0 1vw 0 1vw;
    }
    
    #artigo02, #artigo03, #artigo04 {
        background-color: rgba(0, 0, 0, 0.288);  
    }
    
    #introEducaçao, #problemasEducaçao, #soluçoesEducaçao, #planejamentoEducaçao,#soluçoesConscientizaçao, #planejamentoConscientizaçao, #problemasAdaptaçao, #soluçoesAdaptaçao, #planejamentoAdaptaçao {
        margin-bottom: 7vh;
        background-color: rgba(253, 253, 253, 0.877);
        padding: 20px;
        width: 60%;
    }
    
    /* SECTION ARTIGO01 */
    
    #artigo01 {
        background-image: url("imagens/pexels-madison-inouye-1405773.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    
    #artigo01 > h1 {
        padding: 2vw;
    }
    
    #artigo01 > article {
        width: 60%;
        margin-bottom: 7vh;
        padding: 0 2vw;
    }
    
    /* SECTION ARTIGO02 */
    
    #artigo02 {
        background-color: rgba(0, 0, 0, 0.336);
        background-image: url("imagens/Radis-250_Educacao_1.webp");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 1vw;
    }
    
    #planejamentoEducaçao{
        text-align: center;
        margin-left: 10vw;
    }
    
    #artigo02 > h2 {
        text-align: center;
        margin-left: 10vw;
    }
    
    #img01Art02 > img {
        float: right;
        margin: 3vh 2vw 0 0;
        width: 460px;
        height: 710px;
        box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.521);
        filter: blur(1.5px);
        border-radius: 2px;
        transition: 1s;
    }
    
    #img01Art02 > img:hover {
        width: 465px;
        height: 715px;
        transition: 1s;
        filter: blur(0);
    }
    
    #img02Art02 > img {
        width: 460px;
        height: 600px;
        float: right;
        margin: 0 2vw 0 0;
        box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.521);
        filter: blur(1.5px);
        border-radius: 2px;
        transition: 1s;
    }
    
    #img02Art02 > img:hover {
        width: 470px;
        height: 610px;
        filter: blur(0);
    }
    
    #img03Art02 > img {
        width: 460px;
        height: 600px;
        position: absolute;
        top: 360vh;
        left: 64.5vw;
        box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.521);
        filter: blur(1.5px);
        border-radius: 2px;
        transition: 1s;
    }
    
    #img03Art02 > img:hover {
        width: 470px;
        height: 610px;
        filter: blur(0);
    }
    
    #img04Art02 > img {
        width: 470px;
        height: 190px;
        position: absolute;
        top: 451vh;
        left: 64.5vw;
        box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.521);
        transition: 1s;
    }
    
    #img04Art02 > img:hover {
        width: 477px;
        height: 197px;
    }
    
    /* PLANEJAMENTOEDUCAÇAO */
    
    #soluçoesEducaçao {
        background-image: url("imagens/pexels-karolina-grabowska-4210787.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    #planejamentoEducaçao {
        background-image: url("imagens/Fotoram.io.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #problemasEducaçao {
        background-image: url("imagens/Design\ sem\ nome.jpg");
        background-size: cover;
    }
    
    /* SECTION ARTIGO03 */
    
    #artigo03 {
        background-image: url("imagens/pexels-ahmet-ödemiş-18408631.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        margin-right: 0.5vw;
    }
    
    #introConscientizaçao {
        background-color: white;
        width: 98%;
        text-align: center;
        padding: 20px;
        
    }
    
    #problemasConscientizaçao {
        background-color: rgba(253, 253, 253, 0.877);
        padding: 20px;
        width: 60%;
    }
    
    #img01Art03 > img {
        float: right;
        width: 460px;
        height: 890px;
        margin-right: 1vw;
    }
    
    /* SECTION ARTIGO04 */
    
    #artigo04 {
        background-image: url("imagens/pexels-cottonbro-studio-4503265.jpg");
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 40px;
        margin-right: 0.5vw;
    }
    
    #introAdaptaçao {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.623);
    }
    
    #artigo04 > img {
        width: 440px;
        height: 538px;
        margin-right: 20px;
        float: right;
    }
    
    #maisAdaptaçao {
        width: 500px;
        float: right;
        text-align: center;
        margin: 140px 0px 0 0;
    }
    
    #maisAdaptaçao > h1 {
        margin-bottom: 50px;
    }
    
    #maisAdaptaçao > a > img {
        width: 500px;
        height: 300px;
        border-radius: 100px;
        transition: 1s;
    }
    
    #maisAdaptaçao > a > img:hover {
        background-color: rgba(255, 255, 255, 0.26);
        width: 505px;
        height: 305px;
        border-radius: 100%;
    }
    
    #soluçoesAdaptaçaoVideo{
        background-color: rgba(253, 253, 253, 0.877);
        text-align: center;
    }
    
    #soluçoesAdaptaçaoVideo > iframe {
        margin-right: 70px;
    }
    
    
    /* SECTION ARTIGO05 */
    
    #artigo05 {
        background-color: white;
        background-image: url("imagens/pexels-black-ice-1314544.jpg");
        background-attachment: fixed;
        margin-right: 0.5vw;
    }
    
    #problemasAlerta, #soluçoesAlerta {
        background-color: white;
        width: 50%;
        padding: 20px;
    }
    
    #introAlerta {
        padding: 20px;
        background-color: white;
        margin-bottom: 5px;
    }
    
    #introAlerta > p {
        font-size: 25px;
        text-align: center;
    }
    
    #problemasAlerta > p, #soluçoesAlerta > p {
        font-size: 23px;
        text-align: center;
    }
    
    #introAlerta > h1, #problemasAlerta > h2, #problemasAlerta > h3 , #soluçoesAlerta > h2, #soluçoesAlerta > h3 {
        text-align: center;
    }
    
    #problemasAlerta {
        background-color: white;
        width: 600px;
        height: 1046px;
    }
    
    #soluçoesAlerta {
        float: right;
        background-color: white;
        margin-top: 20px;
        width: 600px;
        margin-right: 0.5vw;
    }
}