@charset "UTF-8";

#container {
    display: grid;
    grid-template-rows: 100vw 15vw 20vw 81vw;
}

#inicio {
    grid-area: 1 / 1 / 2 / 2;
}

#navegacao {
    grid-area: 2 / 1 / 3 / 2;
}

#imagensSustentabilidade {
    grid-area: 3 / 1 / 4 / 2;
}

#introprojeto{
    grid-area: 4 / 1 / 5/ 2;
}

