@charset "UTF-8";

#container {
    display: grid;
    grid-template-rows: 100vw 15vw 20vw 81vw;
}

#inicio {
    grid-template-areas: "box01 box01 box01 box01";
}

#navegacao {
   
}

#imagensSustentabilidade {
    grid-area: 3 / 1 / 4 / 2;
}

#introprojeto{
    grid-area: 4 / 1 / 5/ 2;
}

