@media (min-width: 360px) and (max-width: 414px) {

/* SECTION INICIO01 */

    #inicio01 {
        width: 98vw;
        height: 5vh;
    }

    #inicio01 > h1 {
        font-size: 20px;
        margin: 39px 13px 0 130px;
    }

    #inicio01 > a > img {
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }

    #inicio01 > a > img:hover {
        width: 105px;
        height: 105px;
        margin-left: 10px;
    }

    #inicio01 > nav {
        margin: 0 30px 0 0;
    }

    #inicio01 > nav > a {
        font-size: 10px;
        margin-right: 1px;
    }

    #inicio01 > nav > a:hover {
        font-size: 20px;
    }

    /* SECTION INICIO02 */

    #inicio02 > video {
        top: -34vh;
        height: 70px;
        width: 98vw;
    }

    #inicio02 > h1 {
        font-size: 17px;
        top: 37vh;
        left: 8%;
    }

    /* SECTION ARTIGOS & CONFIGURAÇOES GERAIS */

    #artigos {
        width: 98vw;
        padding-top: 50vh;
    }

    /* SECTION ARTIGO02 */

    #introEducaçao, #problemasEducaçao, #soluçoesEducaçao, #introConscientizaçao, #problemasConscientizaçao, #soluçoesConscientizaçao, #introAdaptaçao, #problemasAdaptaçao, #soluçoesAdaptaçao, #introAlerta, #problemasAlerta, #soluçoesAlerta{
        width: 86vw;
    } 

    #img01Art03 > img {
        width: 190px;
        height: 1530px;
        display: none;
    }

    #img01Art03 > img {
        background-image: url("imagensmobile/conscientizaçaoMobile.jpg");
    }

    #maisAdaptaçao {
        margin: 30px 0 50px 0;
    }
        
    #maisAdaptaçao > h1 {
        font-size: 23px;
        margin-left: 145px;
    }
    #maisAdaptaçao > a > img {
        width: 400px;
        margin-left: 105px;
    }

    #maisAdaptaçao > a > img:hover {
        width: 410px;
    }

    #soluçoesAdaptaçaoVideo > iframe {
        width: 350px;
    }

    #introAlerta, #problemasAlerta, #soluçoesAlerta {
        background-color: rgba(0, 0, 0, 0.13);
    }
}

/*@media (min-width: 414){

    #inicio01 {
        margin:  1vh 1vw 0 1vw;
        background-size: 100vw;
    }

    #inicio01 > h1 {
        font-size: 16px;
        margin: 14vh 14vw 0 0;
        float: right;
        right: -20px;
    }

    #inicio01 > nav > a {
        font-size: 10px;
        margin-right: 2px;
        text-decoration: none;
        color: black;
    }

    #inicio01 > a > img {
        width:100px;
        height:100px;
        position: absolute;
        left: -10vw;
    }
}*/